/* styles.css */

/* Center the navigation bar at the top */
body {
    background-color: #222222;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #1b1b1b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 9;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
}

.nav-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #ff5050;
}

h1 {
    margin-left: 20px;
    background: linear-gradient(90deg, rgb(255, 110, 110), #720000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorChange 5s infinite linear;
}

@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
    padding: 10px 0;
}

h2 {
    text-align: center;
    margin-top: 90px;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

/* Contact page styles */
.contact-info {
    text-align: center;
    margin-top: -20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

contact-info:p {
    margin-bottom: 10px;
}