body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    position: relative;
    /* Set the body to a relative position */
    cursor: url("./media/cursor.png"), auto;
}

/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 8s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(11) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.overlay-box {
    width: 500px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: absolute;
    /* Set the box to an absolute position */
    top: 50%;
    /* Position the box in the middle vertically */
    left: 50%;
    /* Position the box in the middle horizontally */
    transform: translate(-50%, -50%);
    /* Adjust the position to center the box */
}

.logo-container {
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    /* Add border outline */
    border-radius: 50%;
    /* Create a circle container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Add shadow to the container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* Center the box horizontally on the page */
    margin-top: 30px;
    /* Move the box down by 30 pixels */
    flex-direction: column;
    position: relative;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    /* Ensure the logo is within the circle container */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Import the Roboto bold font */

.username {
    font-size: 60px;
    /* Increase the font size of the <link>username</link> */
    font-family: 'Roboto', sans-serif;
    /* Apply the Roboto bold font */
    font-weight: bold;
    /* Apply bold font weight to the <link>username</link> */
    margin-top: 340px;
    /* Move the <link>username</link> down by 100 pixels */
    position: absolute;
    /* Position the username relative to the box */

    background-image: linear-gradient(-225deg,
            #294221 5%,
            #385025 20%,
            #891515 40%,
            #B42D1A 60%,
            #C6B173 70%,
            #71a14a 80%,
            #385025 90%,
            #294221 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    text-transform: uppercase;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.badges {
    margin-top: 10px;
    /* Adjust the margin for spacing */
    text-align: center;
    /* Center the badges horizontally */
}

.badge {
    display: inline-block;
    margin: 0 5px;
    /* Adjust the margin between badges */
    position: relative;
    cursor: pointer;
    margin-top: 85px;
}

.badge img {
    width: 30px;
    /* Set the width of the badge image */
    height: 30px;
    /* Set the height of the badge image */
    display: block;
    /* Ensure the image is displayed as a block element */
}

.badge::after {
    content: attr(title);
    /* Show the badge name as a tooltip */
    /* ... (other tooltip styles) */
}

.badge::after {
    content: attr(title);
    /* Show the badge name as a tooltip */
    position: absolute;
    bottom: -30px;
    /* Position the tooltip below the badge */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(15, 15, 15, 0.8);
    /* Transparent black background */
    color: #fff;
    /* Text color for the tooltip */
    opacity: 0;
    /* Hide the tooltip by default */
    transition: opacity 0.3s;
    /* Add a smooth transition for the tooltip */
}

.badge:hover::after {
    opacity: 1;
    /* Show the tooltip on hover */
}

.bio {
    margin-top: 30px;
    /* Position the bio 30 pixels below the badges */
    font-size: 17px;
    /* Adjust the font size of the bio text as needed */
    color: #ffffff;
    /* Set the color of the bio text */
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.social-icons {
    margin-top: 130px;
    text-align: center;
}

.icon {
    width: 40px;
    /* Set the initial width of the icons */
    height: 40px;
    /* Set the initial height of the icons */
    transition: all 0.5s ease;
    /* Add transition for smooth hover effect */
}

.icon:hover {
    width: 43px;
    /* Increase the width by 2 pixels on hover */
    height: 43px;
    /* Increase the height by 2 pixels on hover */
}

/* Styling for the view counter */
.view-counter {
    position: absolute;
    top: calc(50% + 110px);
    /* Update: move down by 20 pixels */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #ffffff;
    /* Text color */
    text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Roboto", sans-serif;
    font-size: 50pt;

    text-align: center;

    user-select: none;
}

/* Styling for the welcome screen */
.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
    /* Set the background color of the welcome screen */
    z-index: 9999;
    /* Ensure the welcome screen appears above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

/* Styling for the footer bar */
.footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    /* Center the text horizontally */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Center the text vertically */
    height: 100px;
}

.footer-content {
    color: #fff;
    /* White text color */
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    /* Change the font to Roboto */
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: -1;
}

audio {
    display: none;
    /* Hide the audio element if you only want the video to be visible */
}

.timer {
    display: flex;
    margin-bottom: 850px;
    margin-right: 0px;
    z-index: 9999;
}

.box {
    position: relative;
    background-color: #1d1d1d;
    color: #ffffff;
    height: 60px;
    width: 60px;
    margin: 4px;
    font-size: 3.2rem;
    text-align: center;
    box-shadow: 2px 12px 18px 4px #1a1a1a;
    z-index: 9999;
}

.box h4 {
    position: absolute;
    bottom: -40px;
    background-color: #303030;
    width: 100%;
    color: #FFF;
    text-transform: uppercase;
    font-size: 0.6rem;
    padding: 8px 0;
    font-family: 'Roboto', sans-serif;
    z-index: 9999;
}

.box h2 {
    position: absolute;
    width: 100%;
    color: #FFF;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    z-index: 9999;
}

.christmas h3 {
    position: absolute;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    font-size: 20px;
    margin-left: 40px;
    margin-top: -370px;
    font-family: 'Roboto', sans-serif;
    z-index: 9999;
}

/* On screens that are 1200px or up, set the background color to olive */
@media screen and (max-width: 1201px) {
    .overlay-box {
        float: none;
        width: 50%;
        height: 90%;
        font-size: 1.1rem;
    }
    .social-icons,
    .icons,
    .bio {
        float: none;
        margin-top: 30px;
        font-size: 1.1rem;
    }
}

/* On screens that are 1200px or up, set the background color to olive */
@media screen and (max-width: 1200px) {
    .overlay-box {
        float: none;
        width: 50%;
        height: 90%;
        font-size: 1.1rem;
    }
    .social-icons,
    .icons,
    .bio {
        float: none;
        margin-top: 30px;
        font-size: 1.1rem;
    }
}

/* On screens that are 1200px or up, set the background color to olive */
@media screen and (max-width: 1200px) {
    .overlay-box {
        float: none;
        width: 50%;
        height: 90%;
        font-size: 1.1rem;
    }
    .social-icons,
    .icons,
    .bio {
        float: none;
        margin-top: 30px;
        font-size: 1.1rem;
    }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .overlay-box {
        float: none;
        width: 55%;
        height: 80%;
        font-size: 1.1rem;
    }
    .social-icons,
    .icons,
    .bio {
        float: none;
        margin-top: 40px;
        font-size: 1.1rem;
    }
}

/* On screens that are 768px or up, set the background color to olive */
@media screen and (max-width: 768px) {
    .overlay-box {
        float: none;
        width: 70%;
        height: 75%;
        font-size: 1.1rem;
    }
    .social-icons,
    .icons,
    .bio {
        float: none;
        margin-top: 20px;
        font-size: 1.1rem;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .overlay-box {
        float: none;
        width: 95%;
        height: 75%;
        font-size: 1.1rem;
    }
    .social-icons,
    .icons {
        float: none;
        margin-top: 0px;
        font-size: 1.1rem;
    }
    .christmas h3 {
        float: none;
        margin-top: -250px;
        font-size: 0.8rem;
    }
    .box {
        float: none;
        width: 30%;
        height: 30%;
        margin-top: 0px;
        margin-bottom: 170px;
        font-size: 0.8rem;
    }
    .timer {
        float: none;
        width: 40%;
        height: 20%;
        margin-top: 0px;
        margin-bottom: 505px;
        font-size: 0.8rem;
    }
    .box h4 {
        float: none;
        width: 100%;
        height: 10%;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 0.5rem;
    }
    .box h2 {
        float: none;
        width: 40;
        height: 40;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 0.8rem;
    }
}

/* On screens that are 576px or less, set the background color to olive */
@media screen and (max-width: 576px) {
    .overlay-box {
        float: none;
        width: 95%;
        height: 75%;
        font-size: 1.1rem;
    }
    .social-icons,
    .icons,
    .bio,
    .view-counter,
    .footer-bar,
    .footer-content,
    .badges,
    .badge,
    .logo,
    .logo-container,
    .icon,
    .christmas h3 {
        float: none;
        max-width: 100%;
        max-height: 100%;
    }
}


/* CUSTOM CURSOR */
.mscursor-cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    top: 0;
    left: 0;
    z-index: 9999999999999999;
}

.mscursor-difference {
    mix-blend-mode: difference;
}

.mscursor-circle {
    transform-origin: center;
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
}

.mscursor-border-transform {
    animation: border-transform 3s linear infinite;
}

@keyframes border-transform {

    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

.mscursor-scale {
    transition: .5s ease;
    transform: scale(1.6);
}

.mscursor-scale-outline {
    transform: scale(1.9);
    background-color: transparent !important;
}

.mscursor-nocursor {
    cursor: none !important;
}
/* END OF CUSTOM CURSOR */